@media all and (max-width: 670px){
    /* Tambahkan CSS untuk header-right */
    .header-right{
      display: none;
    }
    
    /* Tambahkan CSS untuk menu-icon */
    .menu-icon{
      display: block;
      margin-right: 50px;
    }
    
}